.guide{
    height: 100vh;
    padding: 20px 150px;
}
.guide .guide-list{
    width: 100%;
    position: relative;
}
.guide-list-header{
    width: 100%;
    height: 60px;
    box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.01);
}
.guide .guide-list ul{
    padding: 0;
}
.guide .guide-list ul li{
    width: 100%;
    height: 50px;
    list-style: none;
    margin: 30px 20px;
    border-radius: 15px;
    box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.5s;
    padding-left: 15px;
}
.guide .guide-list ul li:hover{
    box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.25);
}
.guide .guide-list ul li h3{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}
.guide .guide-list ul li img{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    object-fit: cover;
}
.guide .guide-list ul li button{
    width: 70px;
    height: 100%;
    background: rgba(255, 0, 0, 0.6);
    color: white;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 13px;
    letter-spacing: 1px;
}
.guide .guide-list ul li button:hover{
    background: rgba(255, 0, 0, 1);
}
.guide-list-header h3{
    font-size: 15px;
    font-weight: 400;
    margin: 0 20px;
    letter-spacing: 2px;
}
.guide .guide-list .fa-plus{
    width: 40px;
    font-size: 20px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -70px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}
.guide .guide-list .fa-plus:hover{
    color: orangered;
}
.guideAdd{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    backdrop-filter: blur(1px);
    align-items: center;
    justify-content: center;
    display: none;
}
.guideAdd-container{
    width: 900px;
    height: 600px;
    background: white;
    border-radius: 10px;
    display: inline-flex;
}
.guideAdd-img-div{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.guide-img-container img{
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.guide-img-container img:hover, .guide-nic-img-container img:hover, .guide-id-img-container img:hover{
    scale: 1.1;
}
.guide-img-container{
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#guideAddImgFile{
    display: none;
}

.guide-nic-img-container, .guide-id-img-container{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}
.guideAdd-form{
    width: 600px;
    height: 100%;
    padding: 40px 30px;
}

#guideAddFilter > div > form > div > div.form-group.col-md-12.guide-nic-img-container,
#guideAddFilter > div > form > div > div.form-group.col-md-12.guide-id-img-container{
    display: flex;
}
.guide-imgNicAndId-container{
    margin: 0 10px;
    width: 120px;
    overflow: hidden;
    border-radius: 5px;
}

.guide-nic-img-container img, .guide-id-img-container img{
    width: 120px;
    object-fit: cover;
    border-radius: 5px;
    max-height: 100px;
    cursor: pointer;
    transition: all 0.5s;
}
#guideAddFilter > div > form > div > div:nth-child(7), #guideAddFilter > div > form > div > div:nth-child(9){
    margin: 0;
}
.guideAdd-form label{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    display: block;
}
.guideAdd-form button{
    width: 100px;
    height: 40px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

