.hotel{
    height: 100vh;
    padding: 20px 100px;
}
.hotel .hotel-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hotel .hotel-list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 120vh;
}
.hotel .hotel-list ul li{
    list-style: none;
    width: 280px;
    height: 340px;
    background: rgba(0, 0, 0, 0.01);
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: -2px 0 20px rgba(0, 0, 0, 0.15);
}
.hotel .hotel-list ul li:hover{
    transform: translateY(-8px);
}
.hotel .hotel-list ul li h3{
    font-family: 'AR One Sans', sans-serif;
    font-size: 17px;
    padding: 0 20px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
}
.hotel .hotel-list ul li h3:nth-child(4){
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}
#hotelUl li{
    position: relative;
}

#hotelUl li .fa-solid.fa-arrow-right{
    width: 37px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    background: rgba(250, 69, 0, 0.3);
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    right: 20px;
    bottom: 15px;
}
#hotelUl > li div > div{
    display: flex;
    justify-content: start;
}
#hotelUl > li div > div .fa-solid.fa-star{
    margin: 5px!important;
    cursor: default!important;
    font-size: 15px;
}

#hotelUl > li div > div .fa-solid.fa-star.activeView{
    color: orange;
}
#hotelUl > li .fa-solid.fa-arrow-right:hover{
    background: rgba(250, 69, 0, 1);
}
.hotel .hotel-list ul li img{
    margin-bottom: 20px;
}
.hotel .hotel-list ul li h2{
    display: none;
}
#hotelUl li img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/*------------------------*/
.star-selector{
    align-items: center;
}
.star-selector div{
    margin: 0;
    flex-direction: row;
    justify-content: center;
    display: flex;
}
.star-selector div i{
    margin: 9px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.star-selector div i.active{
    color: red;
}
#addHotelBtn{
    width: 40px;
    font-size: 20px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -40px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}
#addHotelBtn:hover{
    color: orangered;
}

.fa-solid.fa-location-dot:hover{
    transform: scale(1.1);
    color: rgba(0, 0, 255, 0.6);
}

.hotelAdd, .hotelView{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    backdrop-filter: blur(1px);
    align-items: center;
    justify-content: center;
    display: none;
}

.hotelAdd-con, .hotelView-con{
    background: white;
    width: 900px;
    height: 550px;
    border-radius: 10px;
    display: inline-flex;
}
.hotelAdd-img-div, .hotelView-img-div{
    width: 400px;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hotelAdd-form{
    width: 600px;
    height: 100%;
    padding: 50px 30px;
}
.hotelView-form{
    width: 450px;
    height: 100%;
    padding: 40px 50px;
}
.hotelAdd-form label{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    display: block;
}
#saveHotelBtn{
    width: 90px;
}
.hotelAdd-img-div div{
    width: 320px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}
.hotelAdd-img-div img, .hotelView-img-div img{
    width: 320px;
    border-radius: 10px;
    height: 80%;
    object-fit: cover;
}
.hotelAdd-img-div img{
    height: 100%;
}
#hotelAdd > div > div > div > img{
    cursor: pointer;
    transition: all 0.5s;
    object-fit: cover;
}
#hotelAdd > div > div > div > img:hover{
    scale: 1.1;
}
#hotelAddImgFile{
    display: none;
}
select:hover{
    background: rgba(0, 0, 0, 0.06);
    cursor: pointer ;
}
#hotelAdd > div > form > div > div.form-group.col-md-6.star-selector > div{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
input[type='tel']:hover{
    background: rgba(0, 0, 0, 0.05);
}
#hotelIsPetAllowCmb, #hotelCriteriaCmb{
    color: rgba(0, 0, 0, 0.7);
}
.hotelView-form > .form-row div label{
    width: 100%;
    margin: 2px 0;
}
#hotelViewNameLbl{
    font-size: 45px;
    font-family: 'AR One Sans', sans-serif;
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
}
#hotelViewLocationLbl{
    font-size: 26px;
    width: fit-content;
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.8);
}
.hotelView-form > .form-row div label:first-child{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}
#hotelView > div > form > div > div.form-group.col-md-12{
    margin-bottom: 5px;
}
.hotelView-form > .form-row div label:last-child, .hotelView-form > .form-row div label:nth-child(2){
    font-size: 13px;
    font-family: 'AR One Sans', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}
#hotelView > div > form > div > div.form-group.col-md-6.star-selector > div > i{
    cursor: default;
}
.hotelView-stars i.activeStar{
    color: orange;
}
#hotelView > div > form > div > div.form-group.col-md-2{
    display: flex;
    align-items: center;
    height: 80px;
    transition: ease-in-out 0.5s;
}
#hotelView > div > form > div > div.form-group.col-md-2 i{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    font-size: 22px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 9px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.5s;
}
#hotelView > div > form > div > div.form-group.col-md-2 i:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
#hotelView > div > form > div > div:nth-child(12) span{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    display: block;
    width: 0;
    height: 0;
    transition: all 0.8s;
}
#updateHotelBtn{
    display: none;
    background: #6f42c1;
}
.hotelSearch{
    width: 100%;
    display: flex;
    align-items: center;
}
#searchHotelBtn, #restHotel{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 8px;
}
#searchHotelBtn:hover{
    background: rgba(13, 110, 253, 0.6);
    color: white;
}
#restHotel:hover{
    background: rgba(255, 0, 0, 0.5);
    color: white;
}
#hotelContainer > div.hotelSearch > div{
    margin: 0;
    padding-left: 60px;
}