.hotel{
    height: 100vh;
    padding: 20px 100px;
}
.hotel .hotel-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hotel .hotel-list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.hotel .hotel-list ul li{
    list-style: none;
    width: 300px;
    height: 350px;
    background: blue;
    margin: 30px;
    border-radius: 20px;
}