*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{

}
.log{
    width: 100%;
    height: 100vh;
    background: url("../images/login.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: 2000;
    display: none;
}
.log form{
    width: 500px;
    height: 600px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 55%;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);

}
.signUp, .signIn{
    padding: 50px;
    display: block;
    flex-direction: column;
}
.signIn{
    display: none;
}
.signUp img{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 90%;
    padding: 5px;
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.signUp img:hover{
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.signUp h2, .signIn h2{
    font-size: 2em;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Varela Round', sans-serif;
}
.signUp h3{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    margin: 20px 0 0 0;
    font-family: 'Roboto', sans-serif;

}
.signUp p, .signIn p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    margin: 10px 0 20px 0;
    font-family: 'Roboto', sans-serif;
}
.signUp p span, .signIn p span{
    color: blue;
    cursor: pointer;
}
.signUp div, .signIn div{
    display: flex;
    flex-direction: column;
    height: 70px;
}
.signUp div{
    margin: 20px 0;
}
.signUp div input, .signIn div input{
    border: none;
    height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    outline: none;
}
.signIn div input{
    margin: 10px 0;
    transition: all 0.5s;
}
.signIn .sigIn-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.signIn .sigIn-div input{
    width: 190px;
}
.signUp label, .signIn label{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
}
.signUp button, .signIn button{
    width: 120px;
    height: 35px;
    border: none;
    background: #084cdf;
    color: white;
    border-radius: 20px;
    cursor:pointer;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    font-size: 13px;
    position: relative;
    left: 280px;
}
.signUp button:hover, .signIn button:hover{
    background: #0d45a5;
}

.signUp .line, .signIn .line{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signUp .line p, .signIn .line p{
    margin: 7px;
    color: rgba(0, 0, 0, 0.8);
}
.signUp .line div, .signIn .line div{
    width: 50%;
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
}
input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    margin: 10px 0;
    background: #fff;
    border-radius: 10px;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: rgba(0, 0, 0, 0.5);
}
#create{
    margin-bottom: 10px;
}
input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
    background: rgba(0, 0, 0, 0.05);
}
#imageFile{
    font-size: 10px;
}

#signUp i, .signIn i, #profile i{
    font-size: 30px;
    position: absolute;
    right: 35px;
    top: 15px;
    color: rgba(0, 0, 0, 0.3);
    transition: all0 0.8s;
    cursor: pointer;
}

#signUp i:hover, .signIn i:hover, #profile i:hover{
    color: rgba(0, 0, 0, 0.6);
}
#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 100px;
    text-align: center;
}
#profile img{
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    margin-bottom: 20px;
}
#profile h3{
    font-size: 30px;
    font-family: 'AR One Sans', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
    font-weight: 500;
}
#profile p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
#profile > div > div:nth-child(1){
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
#updateProfileBtn{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0.1);
    margin: 15px 8px 10px 8px;
}
#updateProfileBtn:hover{
    background: #6f42c1;
    color: white;
}
#profile > div > p{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 10px;
}
#profile > div > p > span{
    color: red;
    cursor: pointer;
}
#navImg{
    border-radius: 90%;
}