.users {
    height: 100vh;
    padding: 0 150px;
}
.users .user-list{
    width: 100%;
    position: relative;
}

.user-list-header{
    width: 100%;
    height: 60px;
    box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #3dd5f3  solid 2px;
    border-left: #3dd5f3 solid 8px;
    background: rgba(24, 27, 38, 0.7);
    text-transform: uppercase;
    color: white;
}
.user-list-header h3{
    cursor: default;
}
.users .user-list ul{
    padding: 0;
}

.users .user-list ul li{
    width: 100%;
    height: 50px;
    list-style: none;
    margin: 20px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: all 0.5s;
    border-left: #3dd5f3 solid 8px;
}
#searchUserTxt{
    border: rgba(255, 0, 0, 0.47) solid 1px;
}
.users .user-list ul li:hover{
    box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.25);
}

.users .user-list ul li h3{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 150px;
    text-align: start;
    cursor: default;
}
.users .user-list ul li h3:nth-child(2){
    text-align: center;
}

.users .user-list ul li img{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    object-fit: cover;
}

.users .user-list ul li button{
    width: 70px;
    height: 100%;
    background: rgba(255, 0, 0, 0.6);
    color: white;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 13px;
    letter-spacing: 1px
}

.users .user-list ul li button:hover{
    background: rgba(255, 0, 0, 1);
}

.users .user-list ul li{
    padding-left: 20px;
}

.user-list-header h3{
    font-size: 15px;
    font-weight: 400;
    margin: 0 20px;
    letter-spacing: 2px;
}

.users .user-list .fa-plus {
    width: 40px;
    font-size: 20px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}

.users .user-list .fa-plus:hover {
    color: orangered;
}

#addUserForm {
    width: 100%;
    height: 100vh;
    /*background: rgba(0, 0, 0, 0.29);*/
    position: fixed;
    top: 0;
    right: -1600px;
    align-items: center;
    justify-content: end;
    display: flex;
    transition: ease-in-out 0.5s;
}
.addUser-container{
    width: 380px;
    height: 100%;
    background: white;
    padding: 50px 10px;
}
.addUser-container input{
    border-radius: 5px!important;
    background: rgba(0, 0, 0, 0.06);
}
#addUserForm > .addUser-container > div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#userImage{
    width: 180px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    object-fit: cover;
    cursor: pointer;
}
#userImgFile{
    display: none;
}
#addUserForm > div > div.form-row{
    padding: 0 30px;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.form-control{
    border-radius: 10px!important;
}
#saveUserBtn{
    width: 200px;
    height: 40px;
    cursor: pointer;
    color: white;
    background: rgba(13, 110, 253, 0.75);
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
    font-family: 'AR One Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;

}
#saveUserBtn:hover{
    background: rgba(13, 110, 253, 1);
}
#updateUserBtn, #deleteUserBtn{
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius:10px;
    outline: none;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 5px;
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.8s;
    display: none;
}
#updateUserBtn:hover{
    background: #6f42c1;
    color: white;
}
#deleteUserBtn:hover{
    background: rgba(255, 0, 0, 0.7);
    color: white;
}