.vehicle{
    height: 100vh;
    padding: 20px 100px;
}
.vehicle .vehicle-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#vehicleAddBtn {
    width: 40px;
    font-size: 20px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -40px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}
#vehicleAddBtn:hover{
    color: orangered;
}
.vehicle .vehicle-list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.vehicle .vehicle-list ul li{
    list-style: none;
    width: 250px;
    height: 310px;
    background: rgba(0, 0, 0, 0.01);
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: -2px 0 20px rgba(0, 0, 0, 0.15);
}
.vehicle .vehicle-list ul li:hover{
    transform: translateY(-8px);
}

.vehicle .vehicle-list ul li h3{
    font-family: 'AR One Sans', sans-serif;
    font-size: 17px;
    padding: 0 20px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
}
.vehicle .vehicle-list ul li h3:nth-child(4){
    font-size: 14px;
}
#vehicleUl li{
    position: relative;
}
#vehicleUl li i{
    width: 37px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    background: rgba(8, 76, 223, 0.5);
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    transition: all 0.5s;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
#vehicleUl li i:hover{
    background: rgba(8, 76, 223, 1);
}

.vehicle .vehicle-list ul li img{
    margin-bottom: 20px;
}
.vehicle .vehicle-list ul li h2{
    display: none;
}

#vehicleUl li img {
    width: 100%;
    height: 200px;
}
.vehicleAdd, .vehicleView{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    backdrop-filter: blur(1px);
    align-items: center;
    justify-content: center;
    display: none;
}
.vehicleAdd-con, .vehicleView-con{
    background: white;
    width: 900px;
    height: 550px;
    border-radius: 10px;
    display: inline-flex;
}
.vehicleAdd-img-div, .vehicleView-img-div{
    width: 400px;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.vehicleAdd-form, .vehicleView-form{
    width: 600px;
    height: 100%;
    padding: 80px 30px;
}
.vehicleAdd-form label, .vehicleView-form label{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    display: block;
}
.vehicleView-form label:last-child{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 35px;
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.8);
}
#SaveVehicleBtn{
    width: 100px;
}
.vehicleAdd-img-div img, .vehicleView-img-div img{
    width: 300px;
}
#vehicleAddImgFile{
    font-size: 11px;
    padding-left: 30px;
    color: rgba(0, 0, 0, 0.6);
}
select:hover{
    background: rgba(0, 0, 0, 0.06);
    cursor: pointer ;
}
/*tttttttttttttttt*/
.vehicleView{
    display: flex;
}
#vehicleView > div > form > div > div.form-group.col-md-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#vehicleView > div > form > div > div.form-group.col-md-2 i{
    padding-top: 9px;
    text-align: center;
    width: 38px;
    aspect-ratio: 1/1;
    font-size: 20px;
    border-radius: 90%;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
#vehicleView > div > form > div > div.form-group.col-md-2 i:hover{
    background:rgba(10, 83, 190, 0.5);
}
#vehicleView > div > form > div > div:nth-child(10){
    background: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: fit-content;
    padding: 0;
}
.myBtn{
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    background: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: start;
    transition: all 0.5s;
}
.myBtn:hover{
    background: rgba(0, 0, 0, 0.1);
}
.myBtn i{
    padding: 0 20px;
}