.vehicle{
    height: 100vh;
    padding: 20px 100px;
}
.vehicle .vehicle-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#vehicleAddBtn {
    width: 40px;
    font-size: 20px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -40px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}
#vehicleAddBtn:hover{
    color: orangered;
}
.vehicle .vehicle-list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.vehicle .vehicle-list ul li{
    list-style: none;
    width: 250px;
    height: 310px;
    background: rgba(0, 0, 0, 0.01);
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: -2px 0 20px rgba(0, 0, 0, 0.15);
}
.vehicle .vehicle-list ul li:hover{
    transform: translateY(-8px);
}

.vehicle .vehicle-list ul li h3{
    font-family: 'AR One Sans', sans-serif;
    font-size: 17px;
    padding: 0 20px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
}
.vehicle .vehicle-list ul li h3:nth-child(4){
    font-size: 14px;
}
#vehicleUl li{
    position: relative;
}
#vehicleUl li i{
    width: 37px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    background: rgba(8, 76, 223, 0.5);
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    transition: all 0.5s;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
#vehicleUl li i:hover{
    background: rgba(8, 76, 223, 1);
}

.vehicle .vehicle-list ul li img{
    margin-bottom: 20px;
}
.vehicle .vehicle-list ul li h2{
    display: none;
}

#vehicleUl li img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.vehicleAdd, .vehicleView{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    backdrop-filter: blur(1px);
    align-items: center;
    justify-content: center;
    display: none;
}

.vehicleAdd-con, .vehicleView-con{
    background: white;
    width: 900px;
    height: 550px;
    border-radius: 10px;
    display: inline-flex;
}
.vehicleAdd-img-div{
    width: 400px;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.vehicleView-img{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vehicleView-img > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.vehicleView-img > div img{
    width: 130px;
    margin: 10px;
    border-radius: 10px;
    object-fit: cover;
}
.vehicleView-img > div img:first-child{
    width: 300px;
}
.vehicleAdd-form, .vehicleView-form{
    width: 600px;
    height: 100%;
    padding: 30px 30px;
}
.vehicleView-form{
    width: 500px;
    padding: 40px 30px;
}
.vehicleAdd-form label, .vehicleView-form label{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    display: block;
}
#SaveVehicleBtn{
    width: 100px;
}
.vehicleAdd-img-div > div .img-container img{
    width: 130px;
    object-fit: cover;
    border-radius: 10px;
    max-height: 100px;
    cursor: pointer;
    transition: all 0.5s;
}
.img-container{
    margin: 10px;
    width: 130px;
    max-height: 100px;
    overflow: hidden;
    border-radius: 10px;
}
.driver-img-container{
    width: 120px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 10px;
}
#vehicleAdd > div > div > div > div:nth-child(1){
    width: 300px;
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

#vehicleAdd > div > div > div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#vehicleAddImg1{
    width: 300px;
    max-height: 200px;
    transition: all 0.5s;
}
.vehicleAdd-img-div > div .img-container img:hover{
    scale: 1.1;
}
#vehicleAddImgFile{
    display: none;
}
select:hover{
    background: rgba(0, 0, 0, 0.06);
    cursor: pointer ;
}

#vehicleView > div > form > div > div.form-group.col-md-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#vehicleView > div > form > div > div.form-group.col-md-2 i{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 90%;
    font-size: 22px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 9px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    transition: ease-in-out 0.5s;
}
#vehicleView > div > form > div > div.form-group.col-md-2 i:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
#vehicleView > div > form > div > div:nth-child(14) span{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    display: block;
    width: 0;
    height: 0;
    transition: all 0.8s;
}
.myBtn{
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    background: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: start;
    transition: all 0.5s;
}
.myBtn:hover{
    background: rgba(0, 0, 0, 0.1);
}
.myBtn i{
    padding: 0 20px;
}
#vehicleAdd > div > form > div > div.form-group.col-md-12{
    display: flex;
    justify-content: center;
    align-items: center;
}

#vehicleAdd > div > form > div > div.form-group.col-md-12 img{
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
#vehicleAdd > div > form > div > div.form-group.col-md-12 img:hover{
    scale: 1.1;
}
#vehicleBrandLbl{
    font-size: 30px;
    font-family: 'AR One Sans', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}
.vehicleView-form > div label{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
}
.vehicleView-form > div label:first-child{
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}
#vehicleView > div > form > div > div:nth-child(12){
    display: flex;
    align-items: center;
    justify-content: center;
}
#vehicleView > div > form > div > div:nth-child(12) img{
    width: 110px;
    border-radius: 5px;
    max-height: 100px;
    margin: 0 10px;
    overflow: hidden;
}
#vehicleView > div > form > div > div.form-group.col-md-6, #vehicleView > div > form > div > div.form-group.col-md-2{
    margin: 0;
}
#vehicleView > div > form > div > div.form-group.col-md-2{
    height: 80px;
}
#updateVehicleBtn{
    display: none;
    background: #6f42c1;
}